:root {
  /* ------------PRIMARY COLORS------------ */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* ------------NEUTRAL COLORS------------ */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* ------------FONTS------------ */
  --font: 'Outfit', sans-serif; /* 300, 400, 600 */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-height: 100%;
  font-family: var(--font);
  font-size: 18px;
  background-color: var(--main-bg);
}

/* ------------CARD HEADER------------ */
.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.9rem;
  padding: 1.5rem 1.5rem 0.7rem;
  width: 20.56rem;
  background-color: var(--card-bg);
  border-radius: 0.8rem;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card__header {
  position: relative;
}

.card__header-img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .card {
    margin-top: 9.55rem;
    padding: 1.5rem 1.5rem 1.4rem;
    width: 21.9rem;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .card__header:hover::after {
    content: url('../assets/images/icon-view.svg');
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  .card__header:hover::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cyan);
    border-radius: 0.5rem;
    opacity: 0.5;
  }
}

/* ------------CARD MAIN------------ */
.card__main-title {
  margin-top: 1.5rem;
  font-size: 1.22em;
  color: var(--white);
}

.card__main-subtitle {
  margin-bottom: 1.5rem;
  font-size: 0.89em;
  font-weight: 300;
  color: var(--soft-blue);
}

.card__main-cripto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cripto__coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.86em;
  font-weight: 600;
  color: var(--cyan);
}

.cripto__coin::before {
  content: url('../assets/images/icon-ethereum.svg');
  margin-right: 0.4rem;
}

.cripto__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.86em;
  font-weight: 300;
  color: var(--soft-blue);
}

.cripto__left::before {
  content: url('../assets/images/icon-clock.svg');
  margin-right: 0.4rem;
}

@media screen and (min-width: 768px) {
  .card__main {
    margin-bottom: 1.34rem;
  }

  .card__main-title {
    margin-top: 1.6rem;
    margin-bottom: -0.1rem;
  }

  .card__main-title:hover {
    color: var(--cyan);
    cursor: pointer;
  }

  .card__main-subtitle {
    margin-bottom: 1.8rem;
    font-size: 1.01em;
  }

  .cripto__coin {
    font-size: 0.92em;
  }

  .cripto__left {
    font-size: 0.91em;
  }
}

/* ------------CARD FOOTER------------ */
.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.85rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--line);
}

.card__footer-img {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid var(--white);
  border-radius: 3rem;
}

.card__footer-text {
  font-size: 0.86em;
  color: var(--soft-blue);
}

.card__footer-link {
  margin-left: 0.1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .card__footer-link:hover {
    color: var(--cyan);
  }

  .card__footer-text {
    font-size: 0.9em;
  }
}

/* ------------FOOTER------------ */
.footer {
  margin-top: 2rem;
}

.attribution {
  font-size: 0.6em;
  text-align: center;
  color: var(--soft-blue);
}

.attribution a {
  color: var(--cyan);
}
